@page "/getting-started"

<PageTitle>Getting Started</PageTitle>

<head>
	<!-- <script src="../assets/js/color-modes.js"></script> -->
</head>
<body>
	<div class="col-lg-8 mx-auto p-4 py-md-5">
		<header class="d-flex align-items-center pb-3 mb-5 border-bottom">
			<a href="/"
				class="d-flex align-items-center text-body-emphasis text-decoration-none">
				<span class="fs-4">Getting Started</span>
			</a>
		</header>

		<main>
			<p class="fs-5 col-md-8">
				Quickly and easily get started with Rhyme Engine.  
				<ol>
				<li>Use it to streamline
					your musical journey, from the first lyric to the final master track,
					and beyond.</li>
				<li>Securely manage your catalog (IP) from one place across a
					variety of devices.</li>
				</ol>
			</p>

			<hr class="col-3 col-md-12 mb-5" />

			<div class="row g-5">
				<div class="col-md-12">
					<p class="text-warning">Ready to go beyond the landing page?</p>
					<h2 class="text-info">Register an Account</h2>

					<ol>
						<li>Click on the "Register" link in the navigation bar.</li>
						<li>
									Fill in the required information, including your email
									address and password. Make sure to provide a strong
									password.
								</li>
								<li>Click the "Register" button.</li>
					</ol>

					<hr class="col-3 col-md-12 mb-5" />
					
					<!-- <h2 class="text-info">Verify Your Email</h2>

					<ol>
						<li>
							After registering, you'll receive an email with a
							verification link. Open your email inbox and find the
							verification email from Rhyme Engine.
						</li>
						<li>
							Click the verification link to confirm your email address.
						</li>
					</ol> -->


				
							<h2 class="text-info" id="headingThree">
									Log In to Your Account
							</h2>
									<ol>
										<li>Click on the "Log In" link in the navigation bar.</li>
									</ol>
									<hr class="col-3 col-md-12 mb-5" />
				</div>
			</div>

			<!-- <h3>Step 4: Forgot Password</h3>

<ol>
    <li>If you forget your password, you can easily reset it. Click on the "Forgot Password" link on the login page.</li>
</ol>

<span class="oi oi-lock-locked" aria-hidden="true"></span>

<ol start="2">
    <li>Enter your registered email address.</li>
    <li>Click the "Reset Password" button.</li>
</ol>

<h3>Step 5: Navigate the App</h3>

<ol>
    <li>After logging in, you'll be directed to the app's main dashboard. Here, you'll find a navigation bar with various sections such as "Home," "About," "Music Production," and more.</li>
</ol>

<span class="oi oi-list-rich" aria-hidden="true"></span>

<ol start="2">
    <li>Click on the different sections to explore the app's features.</li>
</ol>

<h3>Step 6: Explore Example Features</h3>

<ol>
    <li>As you navigate through the app, you'll come across various example features such as contract generation management, and ai suggestions based on your catalog needs, and more.</li>
</ol>

<ol start="2">
    <li>Take your time to explore the layouut and navigation to get familiar with how the app works.</li>
</ol>

<h3>Step 7: Log Out</h3>

<ol>
    <li>When you're done using the app, make sure to log out for security purposes.</li>
</ol>

<span class="oi oi-account-logout" aria-hidden="true"></span>

<ol start="2">
    <li>Click on the "Log Out" link in the navigation bar.</li>
</ol> -->

			<h3>Conclusion</h3>

			<p>
				Congratulations! You've successfully registered, logged in, and explored
				the features of Rhyme Engine. Remember that this guide provides a
				general overview of getting started, and you can always refer to the
				app's documentation and support resources for more detailed information
				and assistance.
			</p>

			<p>
				If you have any questions or need help, feel free to reach out to our
				support team at instagram: freeinatlanta or thrizz13
			</p>

			<p>
				Thank you for choosing Rhyme Engine, and we hope you have a great
				experience using our platform!
			</p>
		</main>

		<footer class="pt-5 my-5 text-body-secondary border-top">
			Created by the Complimentary Intelligence &middot; &copy; 2023
		</footer>
	</div>
</body>
