@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth bg-dark">
            <LoginDisplay />
            <a href="about">About</a>
            <a href="/updates">Updates</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

